@use 'src/styles/colors' as colors;

.title {
  font-weight: bold;
  font-size: 30px;
  margin: 10px 0;
}

.empty {
  font-size: 20px;;
}

.link {
  font-size: 16px;
  text-decoration: underline;
  color: colors.$link-color;
}

.list {
  counter-reset: tests-counter;

  li {
    counter-increment: my-counter;
    display: flex;
    width: 100%;
    font-size: 20px;
    margin: 5px 0;

    &::before {
      content: counter(my-counter) ".";
    }

    &:not(:last-child) {
      border-bottom: 1px solid black;;
    }
  }
}

.testInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .testTitle {
    font-weight: bold;
  }

  .status {
    text-align: right;
  }

  .testPassed {
    color: green;
  }

  .testNoPassed {
    color: red;
  }
}
